<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginRecord</servlet-name>
        <servlet-class>LoginRecord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>com.avadhesh.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpload</servlet-name>
        <servlet-class>com.avadhesh.SignUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IdUpload</servlet-name>
        <servlet-class>com.avadhesh.IdUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResultUpload</servlet-name>
        <servlet-class>com.avadhesh.ResultUpload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginRecord</servlet-name>
        <url-pattern>/LoginRecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpload</servlet-name>
        <url-pattern>/SignUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IdUpload</servlet-name>
        <url-pattern>/IdUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultUpload</servlet-name>
        <url-pattern>/ResultUpload</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
